<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Owned Items</title>
    <link rel="stylesheet" href="../static/css/styles.css">

</head>
  
<body>
<nav>
  <ul class="navList">
    <li class="navItem"> <h1 class="navTitle">Tech and Knick Knack Solution Depot </h1></li>  
    <li class="navItem" ><a class="navLinks" href="/browse">Browse Solutions</a></li>
  </ul>
</nav>
  
        <div class = "align-center">
           <h1>Welcome To Tech and Knick Knack Solution Depot!</h1>
           <p> We at Tech and Knick Knack Solution Depot pride ourselves on our innovative ideas to time consuming problems. 
            We are your think tank, your supplier, your place for micsilanious items. There is no challenge too big, no issue too cavonous. If you 
            want results, we want to provide them. 
           </p>

           <h4>Click the button below to get a quote!</h4>
           <a class="navLinks" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Get Quote</a>

        </div>
</body>
</html>
